html,body {
    overflow: hidden;
    width: 100%;
    height: 100%;
}
.section {
    position: relative;
    width: 100%;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}
.section h1 {
    position: fixed;
    display: flex;
    text-align: center;
    letter-spacing: 5px;
    font-family: "Cookie";
    color: white;
    z-index: 1;
    margin-bottom:100px;
}
.video-container {
    position: absolute;
    width: 100%;
    height: 20vh;
    top: 0;
    left: 0;  
}
.section input {
    position: fixed;
    display: flex;
    justify-content:center;
    width: 60%;
    font-family: "Cookie";
    padding: 10px;
    margin: 25px;
    z-index: 1;
}
.section button {
    position:fixed;
    display: flex;
    text-align: center;
    margin-top: 150px;
    z-index: 1;
}
.section .color-text {
    color:red;
}


#result {
    height: 600px;
    color: white;
    border: 2px red;
    text-align:center;
    font-family: "Cookie";
    padding: 20px;
    margin: 15px;
    z-index: 1;
    margin-top: 800px;
}
